/*Video Header*/

/* Default to hide the video on all devices */
#video{display:none}

/* Default to display the image on all devices */
#videosubstitute{display:block;width:auto;height:100%;}

html, body {
    height: 100%;
    margin: 0;
}
#fullScreenDiv{
    width:100%;
    min-height: 100%; 
   /* Set the height to match that of the viewport. */
    height: 100vh;
    width: auto;
    padding:0!important;
    margin: 0!important;
    background-color: gray;
    position: relative;
}
#video{    
    width: 100vw; 
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: green;
}

@media (min-aspect-ratio: 16/9) {
  #video{
    height: 150%;
    top: -100%;
  }
  #videosubstitute{
    display:block;
    width: 100%;
    height: auto;}
}

@media (max-aspect-ratio: 16/9) {
  #video {
    width: 150%;
    left: -100%;
  }
  #videosubstitute{display:block;width:auto;height:100%;}
}
/*if there is 992  pixels or more, then display the video but hide the image*/
@media only screen and (min-width : 992px) {
#video{display:block;}
#videosubstitute{display:none}
}   

/* The container for our text and stuff */
#messageBox{
    position: absolute;  top: 0;  left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    color: white;
}


/*Text shadow for legibility*/
.text-shadow {
    text-shadow: 2px 2px 18px #000000;

}

/*Facts section*/
div.facts {
    background-color: #4c4c4c;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 2px solid white;
    margin-bottom: 8px;
    -webkit-box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 14px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 14px 0px rgba(50, 50, 50, 0.75);
}

.facts p {
    color: white;
}

#flag{
    width: 65%;
    height: auto;
}

.earth {
    width: 22%;
    height: auto;
}

span.highlight{
    background-color: #FFFF00;
    color: #000000;
    font-weight: bold;
    font-size: 3rem;
}

.pad{
    margin-top: 1rem;
}


/*Difference*/


/*Tip button Section*/

button {
    display:inline;
    width: 80px;
    height: 80px;
/*    padding: 10px 16px;*/
  font-size: 12px;
/*  line-height: 1.33;*/
  border-radius: 40px;
  margin-right: 10px;
  margin-top: 5px;
}

.category {
    padding: 5%;
    margin-bottom: 1rem;
    color: white;
}

/*#difference {
    padding-top: 3rem;
    padding-bottom: 3rem;
}*/




/*.two-line{
    line-height: .75;
}
*/
/*Tip Details Section*/
iframe {
    width: 100%;
}

.tip span {
    font-size: 2.5rem;
}

.food-waste {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.reduce {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.buy {
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.blue {
    background-color: #6fc475;
}

/*Left category styling*/
.category{
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); 
}

#categories, #details{
    padding-bottom: 6rem;
}

button:hover, button:active button:visited{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}

/*Bottom blurb*/
#final-blurb{
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}


